h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*background-color: rgba(250, 234, 214, 0.228);*/
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/76/09/6457be61d23d899.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    width: 100%;
}