h1 {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-top: 100px;
    z-index: 1;
    /*background-color: rgba(250, 234, 214, 0.228);*/
}

header {
    background-image: url("https://wallpaper.dog/large/5551206.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 800px;
    height: 650px;
    margin-top: 80px; /* Move the background down */
    padding-top: 100px; /* Move the h1 element down */
    position: relative;
}

.generator {
    margin-left: 100px;

}

button {
    margin-left: 100px;
}


